html, body {
    margin: 0;
    padding: 0;
}

.banner{
    width: 100%;
}

.divider {
    border-top: 1px solid #D2D2D2; 
    margin: 20px 0; 
    width: 100%; 
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-inner{
    display: flex;
    align-items: center;
    width: 90vw;
    position:relative;
}

.food-details{
    margin-left: 1em;
    max-width: 43vw;
}

.buy-btn{
    all: unset;
    right: 1em;
    position: absolute;
    cursor: pointer;
}

.cart{
    display: none;
}